.headerContainer {
  z-index: 999999;
  position: absolute;
  margin-top: 15px;
  top: 1%;
  left: 50%;
  transform: translate(-50%, 1%);
  padding: 0px 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 600px;
  max-width: 1100px;
  margin: 0 auto;
  @media (max-width: 1000px) {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px !important;
    min-width: 100%;
    padding: 0px;
    height: 600px;
  }
}

.child {
  max-width: 100%;
}
.btn {
  width: 120px;
  text-align: center;
  font-family: 'Courier New', courier, monospace;
  font-size: 13px;
  text-shadow: 0 0 1.1428571429rem #d0fc7e, 0 0 1.7142857143rem #d0fc7e;
  color: #d0fc7e;
  margin: 0;
  padding: 0 5px;
  display: inline-block;
  background-color: #0000;
  border: 1px solid #d0fc7e;
  @media (max-width: 1000px) {
    border: none;
    display: flex;
    position: absolute;
    bottom: 30px;
  }
}

.headerTextWrap {
  color: #d0fc7e;
  line-height: 1.25 !important;
  font-size: 1.25vw !important;
  font-weight: 600;
  font-family: 'Courier New', courier, monospace;
  &:hover {
    color: #fff;
  }
  @media (max-width: 1000px) {
    font-size: 17px !important;
    color: #cfcf5f;
    text-decoration: underline;
    margin-bottom: 45px;
  }
}
